.nav{
// display: flex;
// flex-direction: column;


.emporium{
     text-align: center;
}

.menu{
     // display: flex;
     // text-align: center;
     // justify-content: space-between;
     // align-items: center;
     // width: 70%;
     // border: solid red;
     // margin-left: 15%;
}


}

@media (min-width : 320px) and (max-width: 1350px){

     .nav{
          display: flex;
          flex-direction: column;
     }

     .menu{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
         
     }

}

@media (min-width : 1351px){
     .nav{
          display: flex;
          flex-direction: column;
     }

     .menu{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          margin-left: 15%;
         
     }
}