@media (min-width : 320px) and (max-width: 1350px){

     h2{
          text-align: center;

          margin-top: 3%;
          // justify-content: center;
          // align-items: center;
          // display: flex;




     }

     .recentsProducts{
          text-align: center;
          
          
     }

     .section3{
          display: flex;
          justify-content: center;
          flex-direction: column;
          
          
          
          .divEnglobante{
               border: red solid;
               display: flex;
               justify-content: space-around;
               width: 80%;
              align-items: center;
              margin-left: 10%;


               button{
                    background-color: red;
                    width: 50px;
                    height: 50px;
                    border-radius: 30px;
                    color:white;
                    font-size: 10px;
                    margin-top:10%;
                    position: absolute;
                    display: none;
               }
               .card-text{
                    text-align: center;
                    font-size: 60%;
                    font-weight: bold;
               }
               .price{
                    color:red;
                    text-align: center;
                    font-weight: bold;
                    font-size: 60%;

               }    span{
                    text-decoration: line-through;
                    color: grey;
               }

              
          }
          
     }
     
     

}

@media (min-width : 1351px){
     
     h2{
          text-align: center;

          margin-top: 3%;
          // justify-content: center;
          // align-items: center;
          // display: flex;




     }

     .recentsProducts{
          text-align: center;
          
          
     }

     .section3{
          display: flex;
          justify-content: center;
          flex-direction: column;
          
          
          
          .divEnglobante{
               border: red solid;
               display: flex;
               justify-content: space-around;
               width: 80%;
              align-items: center;
              margin-left: 10%;


               button{
                    background-color: red;
                    width: 50px;
                    height: 50px;
                    border-radius: 30px;
                    color:white;
                    font-size: 10px;
                    margin-top:10%;
                    position: absolute;
               }
               .card-text{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
               }
               .price{
                    color:red;
                    text-align: center;
                    font-weight: bold;
               }    span{
                    text-decoration: line-through;
                    color: grey;
               }

              
          }
          
     }
     

}
