@media (min-width : 320px) and (max-width: 1350px){

    

}

@media (min-width : 1351px){
     
     .section3{

          h2{
               text-align: center;
          }
          margin-top: 3%;
          // justify-content: center;
          // align-items: center;
          // display: flex;
          .divEnglobante{
               border: red solid;
               display: flex;

               .recentsProducts{
                    text-align: center;
                    
               }
          }
          
     }
     
}
