.nav .emporium {
  text-align: center;
}
.nav .menu p {
  cursor: pointer;
}
.nav .menu .nightModeCo .light {
  background-color: white;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.nav .menu .nightModeCo .night {
  background-color: black;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.nav .menu .nightModeCo .connexion {
  background-color: #d1cccc;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1350px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1351px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
  }
}
@media (min-width: 320px) and (max-width: 1350px) {
  body {
    margin: 0;
  }

  .section1 .divShop {
    background-color: #F3F3F3;
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section1 .divShop .h2h1pb {
    height: 300px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .section1 .divShop .h2h1pb h2 {
    color: #f65858;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .section1 .divShop .h2h1pb h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
  .section1 .divShop .h2h1pb button {
    background-color: #f65858;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #f1e5e5;
  }
  .section1 .divShop .divImg1 img {
    height: 400px;
    margin-top: 15%;
    margin-left: 40%;
    display: none;
  }
}
@media (min-width: 1351px) {
  body {
    margin: 0;
  }

  .section1 .divShop {
    background-color: #F3F3F3;
    display: flex;
    height: 500px;
    margin-top: 2%;
  }
  .section1 .divShop .h2h1pb {
    height: 300px;
    width: 40%;
    margin-left: 15%;
    margin-top: 5%;
  }
  .section1 .divShop .h2h1pb h2 {
    color: #f65858;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .section1 .divShop .h2h1pb h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
  }
  .section1 .divShop .h2h1pb button {
    background-color: #f65858;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #f1e5e5;
  }
  .section1 .divShop .divImg1 img {
    height: 400px;
    margin-top: 15%;
    margin-left: 40%;
  }
}
@media (min-width: 1351px) {
  .section2 {
    margin-top: 3%;
  }
  .section2 .LivingSaleClothes {
    display: flex;
    justify-content: space-between;
  }
  .section2 .LivingSaleClothes .img_1 img {
    width: 90%;
    border: red solid;
    position: inherit;
    height: 250px;
  }
  .section2 .LivingSaleClothes .img_1 p {
    position: absolute;
  }
  .section2 .LivingSaleClothes .img_1 .living-room {
    margin-left: 12%;
    margin-top: 5%;
  }
  .section2 .LivingSaleClothes .img_1 .sale-items {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 5%;
  }
  .section2 .LivingSaleClothes .img_1 .clothes {
    margin-left: 12%;
    margin-top: 5%;
  }
  .section2 .LivingSaleClothes .img_1 hr {
    width: 500px;
    margin-top: 10%;
    position: absolute;
  }
}

/*# sourceMappingURL=app.css.map */
